@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #f8fafc;
  color: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #0f172a;
    color: #f8fafc;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
